.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #eeeeee;
  color: #1c1c1c;
}
.editor .CodeMirror-scroll {
  color: #1c1c1c;
}
.editor .CodeMirror-gutters {
  background-color: #eeeeee;
}
.editor .CodeMirror-linenumber {
  color: #808080;
  opacity: 0.8;
}
.editor .CodeMirror-selected {
  background-color: #b6e9ed;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #b6e9ed;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #b6e9ed !important;
  border-bottom: 1px solid #b6e9ed !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #bcbcbc;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #bcbcbc;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #bcbcbc;
}
.editor .CodeMirror-foldmarker {
  border-color: #bcbcbc;
  background-color: #bcbcbc;
  color: #1c1c1c;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.05);
}
.editor .cm-searching {
  border: 1px solid #005faf;
  background: transparent;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3 {
  color: #d75f00;
  font-weight: bold;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2 {
  color: #d70087;
  font-weight: bold;
}
.editor .CodeMirror .cm-formatting-list.cm-keyword {
  color: #0087af;
  font-weight: bold;
}
.editor .CodeMirror .cm-formatting + .cm-keyword {
  color: #1c1c1c;
  font-weight: normal;
}
.editor .CodeMirror .cm-url,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #008700;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #d75f00;
}
.editor .CodeMirror .cm-property {
  color: #d75f00;
}
.editor .CodeMirror .cm-variable {
  color: #0087af;
}
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #0087af;
  font-weight: bold;
}
.editor .CodeMirror .cm-comment {
  color: #808080;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #d70000;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #0087af;
}
.editor .CodeMirror .cm-link {
  color: #0087af;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #d75f00;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-builtin,
.editor .CodeMirror .cm-tag {
  color: #00afaf;
}
.editor .CodeMirror .cm-quote {
  color: #808080;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #00afaf;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #d70000;
}
.editor .CodeMirror .cm-em {
  color: #d75f00;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #808080;
  opacity: 1;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(0, 0, 0, 0.03);
  color: #444444;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.03);
}
.editor .CodeMirror .gfm-codeblock .cm-variable-3 {
  color: #008700;
  font-weight: bold;
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #008700;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(188, 188, 188, 0.4) !important;
}
